@import "dd.css";
#cei{
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    padding:0px 6px;
    background-color:#ececec;
}

.ei{
    width:314px;
    height:170px;
    margin:10px;
    background-color:white;
}
.btn-view{
    border-radius: 10px 0 0 0;
}

.eii{
    /* rounded border border-warning w-100 */
    position:absolute;
    z-index:1;
    height:170px;
    width:100%;
    border:1px solid transparent;
    background-color: rgb(201, 201, 201);
}

.eigc{
    /* d-flex flex-column h-100 */
    display:flex;
    flex-direction: column;
    height: 100%;
}
.txt-age{
    font-size:0.9rem;
}
.eigf{
    position: relative;
    top:144px;
    padding:1px 0px;
}
.cnp{
    line-height:1.3rem;
    font-size:0.94rem;
}
.cf{
    line-height:0.9rem;
    font-size:0.8rem;
}
.cne{
    line-height:1.2rem;
    font-size:1rem;
    /* font-style: bold; */
    margin-top:1px;
}

.fc{
    /* d-flex flex-column */
    display: flex;
    flex-direction: column;

}
.fr{
    /* d-flex flex-column */
    display: flex;
    flex-direction: row;

}

@media screen and (max-width:414px){
    #cei{
        justify-content: center;
    }
    .ei{
        margin:10px 8px;
        width:100vh;
    }
}
@media screen and (min-width:414px) and (max-width:677px){
    #cei{
        flex-flow:row wrap;
        justify-content: center;
    }
    
}

a svg{
    width:18px;
    height:18px;
}
div svg.mail{
    width:16px;
    height:16px;
    color:#222;
    vertical-align: middle;
}

div svg.fb{
    width:16px;
    height:16px;
    margin-left: 8px;
    margin-right: 2px;
    color:#222;
    vertical-align: middle;
}


